@model List<HotelListViewModel.Result>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-6 mb-2">
                <input type="text" name="adult" class="form-control" placeholder="Yetişkin Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="child" class="form-control" placeholder="Çocuk Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="checkInDate" class="form-control" placeholder="Giriş Tarihi" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="checkOutDate" class="form-control" placeholder="Çıkış Tarihi" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="roomNumber" class="form-control" placeholder="Oda Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="cityID" class="form-control" placeholder="Şehir ID" />
            </div>
            <br />
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Hotel Ara</button>
        </div>
    </form>

    <table class="table table-hover">
        <tr>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
            </tr>
        }
    </table>
</div>
